beam_prediction_challenge/bp_data_train.p filter=lfs diff=lfs merge=lfs -text
beam_prediction_challenge/test/bp_data_test.p filter=lfs diff=lfs merge=lfs -text
beam_prediction_challenge/train/bp_data_train.p filter=lfs diff=lfs merge=lfs -text
los_classification_challenge/test/los_data_test.p filter=lfs diff=lfs merge=lfs -text
city_6_miami/BS1_UE_0-42984.mat filter=lfs diff=lfs merge=lfs -text
city_6_miami/BS2_UE_0-42984.mat filter=lfs diff=lfs merge=lfs -text
city_6_miami/BS3_UE_0-42984.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/denver_28ghz/BS1_UE_0-6970.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/denver_28ghz/BS2_UE_0-6970.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/denver_28ghz/BS3_UE_0-6970.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/fortworth_28ghz/BS1_UE_0-6192.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/fortworth_28ghz/BS2_UE_0-6192.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/fortworth_28ghz/BS3_UE_0-6192.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/indianapolis_28ghz/BS1_UE_0-6320.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/indianapolis_28ghz/BS2_UE_0-6320.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/indianapolis_28ghz/BS3_UE_0-6320.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/oklahoma_28ghz/BS1_UE_0-6150.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/oklahoma_28ghz/BS2_UE_0-6150.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/oklahoma_28ghz/BS3_UE_0-6150.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/sandiego_28ghz/BS1_UE_0-5893.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/sandiego_28ghz/BS2_UE_0-5893.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/sandiego_28ghz/BS3_UE_0-5893.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/santaclara_28ghz/BS1_UE_0-5358.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/santaclara_28ghz/BS2_UE_0-5358.mat filter=lfs diff=lfs merge=lfs -text
mmWave_scenarios/santaclara_28ghz/BS3_UE_0-5358.mat filter=lfs diff=lfs merge=lfs -text
